@using AssetManagement.Models.Account
@section scripts {
    <script type="text/javascript" src="~/Scripts/DataTable/datatable.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTable/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTable/datatables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTable/location-datatables-editable.js"></script>
}
@model IEnumerable<AssetManagement.Models.ViewModel.LocationListViewModel>
@{
    var profileData = this.Session["UserProfile"] as UserProfileSessionData;
    var userRole = profileData.UserRole;
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">Location List</span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="location-list-table_new" class="btn green">
                                    Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="location-list-table">
                    <thead>
                        <tr>
                            <th> Location ID </th>
                            <th> Name </th>
                            <th> Floor Number  </th>
                            <th> Room No </th>
                            <th> Building Name</th>
                            <th> Edit </th>
                            <th> Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var location in Model)
                        {
                            <tr data-id="@location.ID" class="locationId">
                                <td>@location.ID</td>
                                <td>@location.Name</td>
                                <td>@location.FloorNo</td>
                                <td>@location.RoomNo</td>
                                <td>@location.BuildingName</td>
                                <td>
                                    <a class="edit @(userRole == "ReadOnly" ? "isDisabled" : "")" href="javascript:;"> Edit </a></td>
                                <td>
                                    <a class="delete @(userRole == "Admin" ? "" : "isDisabled")" href="javascript:;" data-id="@location.ID"> Delete </a>                                
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
