@section scripts {
    <script type="text/javascript" src="~/Scripts/Customs/check-in-asset.js"></script>
    <script type="text/javascript" src="~/Scripts/Customs/asset-checkin-handle.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTable/datatable.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTable/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTable/datatables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTable/check-in-datatables-colreorder.js"></script>
}
@model AssetManagement.Models.ViewModel.AssetCheckInViewModel
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">Asset Check In</span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-edit"></i> Check In Infor
                        </div>
                    </div>
                    <div class="portlet-body">
                        @using (Ajax.BeginForm("CheckInAsset", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @id = "assetCheckInForm", @class = "form-horizontal", role = "form" }))
                        {
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Asset Name</label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(x => x.AssetID, Enumerable.Empty<SelectListItem>(), new { @class = "choose-asset form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Check-in Date</label>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(x => x.CheckInDate, new { @class = "form-control date-picker" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Assign To </label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(x => x.StaffID, Enumerable.Empty<SelectListItem>(), new { @class = "choose-assigned-staff form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Note </label>
                                                <div class="col-md-9">
                                                    @Html.TextAreaFor(x => x.Note, new { @class = "form-control" })
                                                </div>
                                            </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn green">Check-in</button>
                                                <button type="button" class="btn default">Clear All</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i> Asset Check-in History
                        </div>
                    </div>
                    <div class="portlet-body" id="checkInHistoryTable">
                        @Html.Partial("~/Views/Asset/AssetCheckInHistory.cshtml", Model.LastCheckIn)
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>