@section scripts {
    <script type="text/javascript" src="~/Scripts/DataTable/datatable.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTable/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTable/datatables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTable/check-in-datatables-colreorder.js"></script>
}
@model IEnumerable<AssetManagement.Models.ViewModel.LastAssetCheckInViewModel>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="check_in_table">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Asset Tag </th>
                            <th> Asset Name </th>
                            <th> Check-in Date </th>
                            <th> Assign To </th>
                            <th> Note </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var checkin in Model)
                        {
                            <tr>
                                <td> @checkin.ID </td>
                                <td> @checkin.AssetTag </td>
                                <td> @checkin.AssetName</td>
                                <td> @checkin.CheckInDate.ToShortDateString()</td>
                                <td> @checkin.AssignToName</td>
                                <td> @checkin.Note </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
