@section scripts {
    <script type="text/javascript" src="~/Scripts/Customs/create-new-asset.js"></script>
}
@model AssetManagement.Models.ViewModel.CreatNewAssetViewModel
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green bold uppercase">Add New Asset</span>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="@Url.Action("CreateNewAsset","Home")" class="form-horizontal" method="post">
            <div class="form-body">
                <h3 class="form-section">General</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Asset Name</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.AssetName,new { @class = "form-control", placeholder = "Please fill in the asset name" })
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Asset Category</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor( x => x.AssetSubCategoryId,Enumerable.Empty<SelectListItem>(), new { @class = "choose-category form-control"})
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Purchase Date</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.PurchaseDate, new { @class = "form-control date-picker"})
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Purchase Amount</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.PurchaseAmount, new {type = "number", @class="form-control"})
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Unit Of Price</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor( x=> x.UnitOfPrice, new { type = "number", @class="form-control"})
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Vendor</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor( x=> x.VendorId, Enumerable.Empty<SelectListItem>(),new{ @class ="choose-vendor form-control"})
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Asset Description</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.AssetDescription, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="form-section">Asset Location</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Location Name</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(x => x.LocationId, Enumerable.Empty<SelectListItem>(), new { id = "assetLocation", @class = "choose-location form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <!--/row-->
                <h3 class="form-section">Asset Deparment</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Deparment</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(x => x.DepartmentId, Enumerable.Empty<SelectListItem>(), new {@class = "choose-department form-control" })                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <!--/span-->
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Submit</button>
                                <button type="button" class="btn default">Clear All</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"> </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>