@using AssetManagement.Models.Common
@{
    Layout = null;
}
@model AssetManagement.Models.Account.LoginRegisterViewModel
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>Asset Management Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin RTL Theme #3 for " name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-switch-rtl.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Content/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/components-rtl.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/plugins-rtl.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/login-rtl.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<body class=" login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        @{ Html.RenderAction("GetLogo", "Home");}
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="@Url.Action("Login","Account")" method="post">
            @Html.HiddenFor(x => x.Firstname, new { Value = "Firstname" })
            @Html.HiddenFor(x => x.Lastname, new { Value = "Lastname" })
            @Html.HiddenFor(x => x.RegisterEmail, new { Value = "RegisterEmail" })
            @Html.HiddenFor(x => x.RegisterPassword, new { Value = "RegisterPassword" })
            @Html.HiddenFor(x => x.RetypePassword, new { Value = "RetypePassword" })
            <h3 class="form-title font-green">Sign In</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any email and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-solid placeholder-no-fix", type = "text", autocomplete = "off", placeholder = "Email" })
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control form-control-solid placeholder-no-fix", type = "password", autocomplete = "off", placeholder = "Password" })
            </div>
            <div class="form-actions">
                <button type="submit" class="btn green uppercase">Login</button>
                <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
            </div>
            <div class="create-account">
                <p>
                    <a href="javascript:;" id="register-btn" class="uppercase">Create an account</a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="@Url.Action("ResetPassword","Account")" method="post">
            @Html.HiddenFor(x => x.Firstname, new { Value = "Firstname" })
            @Html.HiddenFor(x => x.Lastname, new { Value = "Lastname" })
            @Html.HiddenFor(x => x.RegisterEmail, new { Value = "RegisterEmail" })
            @Html.HiddenFor(x => x.RegisterPassword, new { Value = "RegisterPassword" })
            @Html.HiddenFor(x => x.RetypePassword, new { Value = "RetypePassword" })
            @Html.HiddenFor(x => x.Password, new { Value = "Password"})
            <h3 class="font-green">Forget Password ?</h3>
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-solid placeholder-no-fix", type = "text", autocomplete = "off", placeholder = "Email" })
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form" action="@Url.Action("Register","Account")" method="post">
            @Html.HiddenFor(x => x.Email, new { Value = "email@gmail.com"})
            @Html.HiddenFor(x => x.Password, new { Value = "Password"})
            <h3 class="font-green">Sign Up</h3>
            <p class="hint"> Enter your personal details below: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">First Name</label>
                @Html.TextBoxFor(x => x.Firstname, new { @class = "form-control placeholder-no-fix", type = "text", placeholder = "First Name" })
                @Html.ValidationMessageFor(x => x.Firstname, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Last Name</label>
                @Html.TextBoxFor(x => x.Lastname, new { @class = "form-control placeholder-no-fix", type = "text", placeholder = "Last Name" })
                @Html.ValidationMessageFor(x => x.Lastname, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Phone</label>
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control placeholder-no-fix", type = "text", placeholder = "Phone Number" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Country</label>
                @Html.DropDownListFor(x => x.Country, Country.CountryList, new { @class = "form-control" })
            </div>
            <p class="hint"> Enter your account details below: </p>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                @Html.TextBoxFor(x => x.RegisterEmail, new { @class = "form-control placeholder-no-fix", type = "text", placeholder = "Email" })
                @Html.ValidationMessageFor(x => x.RegisterEmail, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                @Html.TextBoxFor(x => x.RegisterPassword, new { @class = "form-control placeholder-no-fix", type = "password", placeholder = "Password" })
                @Html.ValidationMessageFor(x => x.RegisterPassword, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                @Html.TextBoxFor(x => x.RetypePassword, new { @class = "form-control placeholder-no-fix", type = "password", placeholder = "Re-type Password" })
            </div>
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn green btn-outline">Back</button>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/Scripts/select2.full.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Scripts/app.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Scripts/login.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
</body>
</html>